{% extends 'base.html' %}
{% block content %}
<main class="grid-2">

  <h1>Basement Remodel</h1>

  <figure><img src="{{url_for('static', filename='images/portfolio/basement-remodel/1.jpg')}}" alt="basement remodel">
  </figure>
  <figure><img src="{{url_for('static', filename='images/portfolio/basement-remodel/2.jpg')}}" alt="basement remodel">
  </figure>
  <figure><img src="{{url_for('static', filename='images/portfolio/basement-remodel/3.jpg')}}" alt="basement remodel">
  </figure>
  <figure><img src="{{url_for('static', filename='images/portfolio/basement-remodel/4.jpg')}}" alt="basement remodel">
  </figure>
  <figure><img src="{{url_for('static', filename='images/portfolio/basement-remodel/5.jpg')}}" alt="basement remodel">
  </figure>
  <figure><img src="{{url_for('static', filename='images/portfolio/basement-remodel/6.jpg')}}" alt="basement remodel">
  </figure>


</main>
{% endblock %}