{% extends 'base.html' %}
{% block content %}
<!-- MAIN -->
<main>

  <div id="hero" class="tab-desk">
    <img src="{{url_for('static', filename='images/hero2.jpg')}}" alt="wooden fence">
  </div>

  <section id="welcome">
    <h2>Welcome!</h2>
    <p>Alekna Contracting proudly provides the Jonesburg, Missouri area with high quality carpentry services. From
      fencing and framing to dry wall and home renovations, send an email or call today to get a free estimate.</p>
    <h3>Call</h3>
    <h3 class="tab-desk">(215) 512-1874</h3>
    <a class="mobile tel-link" href="tel:2155121874">(215) 512-1874</a>
    <h3>Email</h3>
    <h3 class="tab-desk"><a id="email-link" href="mailto:alekna.contracting@gmail.com">alekna.contracting@gmail.com</a>
    </h3>
    <a class="mobile tel-link" href="mailto:alekna.contracting@gmail.com">alekna.contracting@gmail.com</a>
  </section>

  <section id="reviews">

    <button id="left" onclick="left()">&#8592;</button>
    <div id="review">
      <div id="name"></div>
      <div id="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
      <div id="text"></div>
    </div>
    <button id="right" onclick="right()">&#8594;</button>

  </section>

</main>
{% endblock %}