{% extends 'base.html' %}
{% block content %}
<main class="grid-2">

  <h1>Kitchen Remodel</h1>

  <figure><img src="{{url_for('static', filename='images/portfolio/kitchen-remodel/1.jpeg')}}" alt="Kitchen Remodel">
  </figure>
  <figure><img src="{{url_for('static', filename='images/portfolio/kitchen-remodel/2.jpeg')}}" alt="Kitchen Remodel">
  </figure>
  <figure><img src="{{url_for('static', filename='images/portfolio/kitchen-remodel/3.jpeg')}}" alt="Kitchen Remodel">
  </figure>
  <figure><img src="{{url_for('static', filename='images/portfolio/kitchen-remodel/4.jpeg')}}" alt="Kitchen Remodel">
  </figure>
  <figure><img src="{{url_for('static', filename='images/portfolio/kitchen-remodel/5.jpeg')}}" alt="Kitchen Remodel">
  </figure>
  <figure><img src="{{url_for('static', filename='images/portfolio/kitchen-remodel/6.jpeg')}}" alt="Kitchen Remodel">
  </figure>

  <p id="krP">This job includes drywall install, drywall finish, painting, custom trim installation, base install and
    upper cabinets and countertops.</p>

</main>
{% endblock %}